.form {
    background-color: aliceblue;
    box-sizing: border-box;
    width: 80%;
    height: max-content;
    padding: 20px;
    margin-top: 20px;
    margin-left: 5%;
    border-radius: 30px;

    font-family: Verdana, serif;
    color: teal;
}

.answer {
    height: 20px;
    vertical-align: middle;
}

.contacts{
    margin-top: 10px;
}
.contact{
    margin-left: 10px;
}

.contacts img{
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.button {
    margin-top: 10px;
    margin-left: 87%;
    background-color: teal;
    width: 4vw;
    outline: none;
    border: none;
    color: aliceblue;
    font-size: 1.2vw;
    font-family: Verdana, serif;
    padding: 3px;
    border-radius: 5px;
    transition: all 250ms ease;
}

.button:hover {
    background-color: darkslategrey;
    box-shadow: 0 0 4px lightseagreen;;
}