.nav {
    grid-area: n;
    background-color: teal;
    padding: 20px;
    width: 110px;
}

.item {
    color: white;
    text-decoration: none;
    font-family: Verdana, serif;
    padding: 4px;

    transition: all 250ms ease;
}
.item:hover {
    color: darkslategrey;
}

.item a.active {
color: darkslategray;
    text-decoration: none;
    font-family: Verdana, serif;
    font-size: 15pt;
    background-color: #4DB6AC;
    background-clip: padding-box;
    padding: 3px;
    border-radius: 5px;
}
